src/wsdl/localhost_8080/cabServiceApp_services/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://icbt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://icbt/" name="UserService">
<types>
<xsd:schema>
<xsd:import namespace="http://icbt/" schemaLocation="http://localhost:8080/cabServiceApp_services/UserService?xsd=1"/>
</xsd:schema>
</types>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getAdmin">
<part name="parameters" element="tns:getAdmin"/>
</message>
<message name="getAdminResponse">
<part name="parameters" element="tns:getAdminResponse"/>
</message>
<message name="getAdmins">
<part name="parameters" element="tns:getAdmins"/>
</message>
<message name="getAdminsResponse">
<part name="parameters" element="tns:getAdminsResponse"/>
</message>
<message name="updateAdmin">
<part name="parameters" element="tns:updateAdmin"/>
</message>
<message name="updateAdminResponse">
<part name="parameters" element="tns:updateAdminResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse"/>
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<portType name="UserService">
<operation name="addCustomer">
<input wsam:Action="http://icbt/UserService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://icbt/UserService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://icbt/UserService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://icbt/UserService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="getAdmin">
<input wsam:Action="http://icbt/UserService/getAdminRequest" message="tns:getAdmin"/>
<output wsam:Action="http://icbt/UserService/getAdminResponse" message="tns:getAdminResponse"/>
</operation>
<operation name="getAdmins">
<input wsam:Action="http://icbt/UserService/getAdminsRequest" message="tns:getAdmins"/>
<output wsam:Action="http://icbt/UserService/getAdminsResponse" message="tns:getAdminsResponse"/>
</operation>
<operation name="updateAdmin">
<input wsam:Action="http://icbt/UserService/updateAdminRequest" message="tns:updateAdmin"/>
<output wsam:Action="http://icbt/UserService/updateAdminResponse" message="tns:updateAdminResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://icbt/UserService/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://icbt/UserService/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://icbt/UserService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://icbt/UserService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addAdmin">
<input wsam:Action="http://icbt/UserService/addAdminRequest" message="tns:addAdmin"/>
<output wsam:Action="http://icbt/UserService/addAdminResponse" message="tns:addAdminResponse"/>
</operation>
<operation name="getCustomers">
<input wsam:Action="http://icbt/UserService/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://icbt/UserService/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://icbt/UserService/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://icbt/UserService/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/cabServiceApp_services/UserService"/>
</port>
</service>
</definitions>