src/wsdl/localhost_8080/cabServiceApp_services/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://icbt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://icbt/">

<xs:element name="addAdmin" type="tns:addAdmin"/>

<xs:element name="addAdminResponse" type="tns:addAdminResponse"/>

<xs:element name="deleteAdmin" type="tns:deleteAdmin"/>

<xs:element name="deleteAdminResponse" type="tns:deleteAdminResponse"/>

<xs:element name="getAdmin" type="tns:getAdmin"/>

<xs:element name="getAdminResponse" type="tns:getAdminResponse"/>

<xs:element name="getAdmins" type="tns:getAdmins"/>

<xs:element name="getAdminsResponse" type="tns:getAdminsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateAdmin" type="tns:updateAdmin"/>

<xs:element name="updateAdminResponse" type="tns:updateAdminResponse"/>

<xs:complexType name="addAdmin">
<xs:sequence>
<xs:element name="admin" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="admin">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="lname" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:int"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="fName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdmin">
<xs:sequence>
<xs:element name="admin" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdmin">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdmins">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAdminsResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdmin">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>