src/wsdl/localhost_8080/cabServiceApp_services/vehicleServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://icbt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://icbt/">

<xs:element name="addCategory" type="tns:addCategory"/>

<xs:element name="addCategoryResponse" type="tns:addCategoryResponse"/>

<xs:element name="deleteCategory" type="tns:deleteCategory"/>

<xs:element name="deleteCategoryResponse" type="tns:deleteCategoryResponse"/>

<xs:element name="getCategories" type="tns:getCategories"/>

<xs:element name="getCategoriesResponse" type="tns:getCategoriesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategory">
<xs:sequence>
<xs:element name="vehicle" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicle">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="typeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCategory">
<xs:sequence>
<xs:element name="typeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>