src/wsdl/localhost_8080/cabServiceApp_services/vehicleServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://icbt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://icbt/" name="vehicleServices">
<types>
<xsd:schema>
<xsd:import namespace="http://icbt/" schemaLocation="http://localhost:8080/cabServiceApp_services/vehicleServices?xsd=1"/>
</xsd:schema>
</types>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"/>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"/>
</message>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<portType name="vehicleServices">
<operation name="getCategories">
<input wsam:Action="http://icbt/vehicleServices/getCategoriesRequest" message="tns:getCategories"/>
<output wsam:Action="http://icbt/vehicleServices/getCategoriesResponse" message="tns:getCategoriesResponse"/>
</operation>
<operation name="addCategory">
<input wsam:Action="http://icbt/vehicleServices/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://icbt/vehicleServices/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://icbt/vehicleServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://icbt/vehicleServices/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://icbt/vehicleServices/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://icbt/vehicleServices/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
</operation>
</portType>
<binding name="vehicleServicesPortBinding" type="tns:vehicleServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="vehicleServices">
<port name="vehicleServicesPort" binding="tns:vehicleServicesPortBinding">
<soap:address location="http://localhost:8080/cabServiceApp_services/vehicleServices"/>
</port>
</service>
</definitions>